{% extends 'base.html.twig' %}


{% block body  %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">

{% endblock %}

    <main class="container">

      
     
<style>
            body { background-image: url("img/home.png"); background-repeat:no-repeat;  background-size: cover; width: 100%;
                height: 600px;}
        </style>
       


    



    </main>

{% endblock %}