{% extends 'base.html.twig' %}


{% block body  %}


    <div class="container">
        <h1>Blog Cuisine</h1>


    <style>
        body { background-image: url("/bundles/home/homeassiette.jpg"); background-repeat:no-repeat;  background-size: cover; }
    </style>




    </div>

{% endblock %}