{% extends 'base.html.twig' %}
{% block body %}
<main class="container">
      
        <h1>Mentions légales</h1>

<h2>Présentation du site</h2>
<p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
    Directeur de publication / propriétaire : Fatima El-majdoub <br>
    Hébergeur : OVH <br>
    SAS au capital de 10 069 020 €
    RCS Lille Métropole 424 761 419 00045 - Code APE 2620Z
    N° TVA : FR 22 424 761 419
    Siège social : 2 rue Kellermann - 59100 Roubaix - France
    Email: support@ovh.com – Web : http://www.ovh.com

    </p>

<h2>Conditions générales d’utilisation du site</h2>

<p>L’utilisation du site anwal.fr implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site anwal.fr sont donc invités à les consulter de manière régulière. Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par  anwal.fr, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.

Fatima El-majdoub s’efforce de fournir sur le site  anwal.fr des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. Toutes les informations indiquées sur le site sont données à titre indicatif, et sont susceptibles d’évoluer.</p>

<h3>Propriété intellectuelle</h3>

Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Fatima El-majdoub. Toute exploitation non autorisée du site ou de l’un des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.

<h4> Gestion des données personnelles</h4>

Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.

Aucune information personnelle de l’utilisateur du site n’est publiée à l’insu de l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Le site est dispensé de déclaration à la CNIL selon la dispense n°6 relative aux « sites web diffusant ou collectant des données à caractère personnel mis en œuvre par des particuliers dans le cadre d’une activité exclusivement personnelle ». Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.

5) Utilisation des cookies:

Le site www.jveuxetrebonne.com utilise des cookies afin de vous offrir la meilleure expérience possible. En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de ces cookies. Pour effacer les cookies, images et fichiers en cache collectés sur votre terminal, rendez vous dans la barre d’outils de votre navigateur.

6) Conditions de modération des commentaires du blog

Les commentaires et trackbacks/pingback sont modérés manuellement. Le non respect de l’une des règles suivantes entraîne la suppression du commentaire ou du trackback/pingback concerné :

Commentaires diffamatoires, racistes, pornographiques, pédophiles, incitant à délit, crimes ou suicides,
Commentaires reproduisant une correspondance privée sans l’accord des personnes concernées,
Commentaires agressifs ou vulgaires,
Commentaires visant uniquement à mettre en ligne un lien vers un site extérieur (spam de commentaires ou de trackback/pingback).
Les commentaires sont modérés à priori, ne postez donc pas plusieurs fois votre commentaire si vous ne le voyez pas apparaître.
        <article>
           
    





        
   

    
</main>

{% endblock %}