{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/presentation.css') }}">

{% endblock %}
{% block body %}



  <div class="container">
  <div class="wrapper">
    <h1>Quis suis je?</h1>
    <p>Coucou tou le monde, <br> Tout d'abord bienvenue dans mon blog. <br> A travers ce blog, je vous partage ma passion pour la cuisine,<br> avec des recettes dénichées dans des livres... <br> J'espère vous donner l'envie de cuisiner et ainsi régaler votre entourage avec mes réalisations. </p>

    <style>
            body { background-image: url("presentation6.jpg"); background-repeat:no-repeat;  background-size: cover; }
        </style>
        

    </div>
    </div>

{% endblock %}