* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: 100%;
  
  
  }

@font-face {
    font-family: 'Roboto-Thin.ttf';
    src: url("/fonts/Roboto-Thin.ttf");
    src: url('Roboto-Thin.ttf.eot'); /* IE9 Compat Modes */
    src: url('Roboto-Thin.ttf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Roboto-Thin.ttf.woff2') format('woff2'), /* Super Modern Browsers */
         url('Roboto-Thin.ttf.woff') format('woff'), /* Pretty Modern Browsers */
         url('Roboto-Thin.ttf.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('Roboto-Thin.ttf.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'CaviarDreams.ttf';
    src: url("/fonts/CaviarDreams.ttf");
    src: url('CaviarDreams.ttf.eot'); /* IE9 Compat Modes */
    src: url('CaviarDreams.ttf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('CaviarDreams.ttf.woff2') format('woff2'), /* Super Modern Browsers */
         url('CaviarDreams.ttf.woff') format('woff'), /* Pretty Modern Browsers */
         url('CaviarDreams.ttf.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('CaviarDreams.ttf.svg#svgFontName') format('svg'); /* Legacy iOS */}



/*navbar*/
.navbar-brand{
  background-color:
}

.navbar-text{
  font: bold;
}

.navbar-expand-lg{
  font-weight: bold;
  font-size: 17px;
  font-family: "Roboto",Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  height: 60px;
}

.dropdown-menu{
  background-color: whitesmoke;
}
/*
.nav-item dropdown{
  background-color:
}
.dropdown-item{
  background-color:

}*/

body{position: relative;
  padding-bottom: 5em;
  height: 100%;
  box-sizing: 100%;
  
  
 
 }
   
    
  
/* les titres et paragraphe container*/
.container{
  margin-top: 5%;
  
}

p {
    font-size: 1em;
    font-style: inherit;
    color: black;
    font-family: 'Roboto-Thin.ttf', Arial, Helvetica, sans-serif;
    text-decoration : none;
    z-index: 2;
  }

h1{
  font-size: 2.5em;
  font-style: inherit;
  color:black;
  font-family: 'CaviarDreams.ttf', "Times New Roman", Times, serif;

  text-decoration: none;
  background-color: transparent;
  padding-top: 2%;
 
}  

h2{
  font-family: 'CaviarDreams.ttf', "Times New Roman", Times, serif;
  font-size: 1.875em;
  font-style: inherit;
  color: black;
  
}

h3{
  font-family: 'Roboto-Thin.ttf', "Times New Roman", Times, serif;
  font-size: 1.6em;
  font-style: inherit;
  color: black;
  margin-top: 1%;
}
h4{
  font-family: 'Roboto-Thin.ttf', "Times New Roman", Times, serif;
  font-size: 1.4em;
  font-style: inherit;
  color: black;
  margin-top: 1%;
}

/*page connexion*/
.h3{
  padding-top: 20%;
  font-size: 2.5em;
  font-style: inherit;
  color:black;
  font-family: 'CaviarDreams.ttf', "Times New Roman", Times, serif;
  text-decoration: none;

 
}

.list{ padding-top: 3%;

}
/* presentation.html.twih*/
.wrapper{

  border: 2px solid transparent;
 
  border-radius: 50%;
  text-align: center;
  margin-right: 50%;
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */}

  .presentation{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4em;

  }
  
  

/* css formulaire*/
#contactForm {height: xxpx; /* Hauteur des champs */
  width: 50%; /* Longueur des champs */
  border: xxx; /* Epaisseur de la bordure s'il y a lieu */
  border-color: red; /* Couleur de la bordure s'il y a lieu */
  }

  .fos_user_registration_register {
  height: xxpx; /* Hauteur des champs */
  width: 50%; /* Longueur des champs */
  border: xxx; /* Epaisseur de la bordure s'il y a lieu */
  border-color: red; /* Couleur de la bordure s'il y a lieu */
  

  }
.form-signin{
  height: xxpx; /* Hauteur des champs */
  width: 50%; /* Longueur des champs */
  border: xxx; /* Epaisseur de la bordure s'il y a lieu */
  border-color: red; /* Couleur de la bordure s'il y a lieu */
}


/* Les boutons*/
/*boutton login class="btn btn-lg btn-primary btn-block"
.btn-primary{background-color: #ABB2B9;

}
/* boutton de recherche home  "btn btn-outline-success my-2 my-sm-0" type="submit"
.btn-outline{background-color:#ABB2B9  ;

}
/* boutton de contact  <button class="btn btn-primary">
.btn-primary{background-color: #ABB2B9  ;

}
/* boutton de inscription class="btn btn-primary"
.btn-primary{background-color: #ABB2B9  ;}

/*boutton commentaire publier  class="btn btn-block btn-success btn-sm"

.btn-success{
  background-color: #ABB2B9 ;

}*/

.btn-secondary{
  background-color: #ABB2B9;
 
}
.btn-group{
  align-items: center;
 

 }



/*salees.html.twig*/
.card-text{ text-align: center;
}
.btn-group {align-content: center;}

/*page show.html.twig*/


.metadata{
  color:#AEB6BF;
}

.content{
    padding-top: 5px;
    font-style: italic;
    width: 100px;
    white-space: pre;
  
}

.ingredients{
    /*display: list-item;*/
    padding-top: 5px;
    display: inline-block;
	  width: 100px;
    white-space : pre;
    vertical-align : bottom;
    list-style-type : disc;
}
.list{ list-style-type : disc;

}

.preparation .cuisson{
    display: block;
    white-space : pre;  
    margin-right: 20px;
    margin-left: 20px
}
#likes{
  padding-top: 5px;

}
/*couleur coeur*/
fas fa-heart{
    color: red;
}
.btn btn-primary{
  color:red;
}

.foo{
    width: 30%;

}
.ob-Commentaires{ white-space : normal;
   
}
/*nom et prenom commentaire*/
.nom{
    font-weight : bold;
}


/*ajouter un commentaire
<h4>Ajouter un commentaire</h4>
    {{ form_start(commentForm, {'attr': {'class': 'commentForm'}}) }}
    
    {{ form_widget(commentForm, {'attr': {'class': 'foo'}}) }}
    {{ form_widget(commentForm.content, {'attr': {'class': 'commentForm.content'}}) }}
    {{ form_errors(commentForm.content, {'attr': {'class': 'errors'}}) }}
    <input type="submit" value="Publier" class="btn btn-success btn-sm">
    {{ form_end(commentForm) }}


*/
/*<h3>Commentaires</h3>
    {% for comment in recette.comments %}
        <div class="ob-Commentaires">
            <div class="ob-list">
            {{comment.nom}}
            {{comment.prenom}}
            {{comment.content}}
            </div>
        </div>
    {% endfor %}
    */

   
    /*footer*/
    .footer-page{
      background-color:whitesmoke;
      
      position: absolute;
       bottom: 0;
       left: 0; 
       right: 0;
       
	height: 100px; 
      }
      
      

     