.recettes{
    margin-top: 10%;
    padding-top: 10px;
}




/*page show.html.twig*/


.metadata{color:#AEB6BF;
}

.content{
    
  /*display: list-item;*/
  vertical-align: bottom;
  /*list-style: circle;*/

  width: 100px;
  white-space : pre;
  vertical-align : bottom;
 
}

.ingredients{
    /*display: list-item;*/
    vertical-align: bottom;
    display: inline-block;
	width: 100px;
    white-space : pre;
    vertical-align : bottom;
    list-style-type : disc;
}
.list{ list-style-type : disc;

}

.preparation .cuisson{
    display: block;
    white-space : pre;  
    margin-right: 20px;
    margin-left: 20px
}

/*couleur coeur*/
fas fa-heart{
    color: red;
}

.foo{
    width: 30%;

}
.ob-Commentaires{ white-space : normal;
   
}
/*nom et prenom commentaire*/
.nom{
    font-weight : bold;
}


/*ajouter un commentaire
<h4>Ajouter un commentaire</h4>
    {{ form_start(commentForm, {'attr': {'class': 'commentForm'}}) }}
    
    {{ form_widget(commentForm, {'attr': {'class': 'foo'}}) }}
    {{ form_widget(commentForm.content, {'attr': {'class': 'commentForm.content'}}) }}
    {{ form_errors(commentForm.content, {'attr': {'class': 'errors'}}) }}
    <input type="submit" value="Publier" class="btn btn-success btn-sm">
    {{ form_end(commentForm) }}


*/
/*<h3>Commentaires</h3>
    {% for comment in recette.comments %}
        <div class="ob-Commentaires">
            <div class="ob-list">
            {{comment.nom}}
            {{comment.prenom}}
            {{comment.content}}
            </div>
        </div>
    {% endfor %}
    */

    /*page salees.html.twig*/
    


    


    



