{% extends 'base.html.twig' %}
{% block title %}Hello {{ controller_name }}{% endblock %}

{% block body %}
    <section class="recettes">

        <article>
            <h2>Titre de la recette</h2>
            <div class="metadata">Ajouter le 10/05/2019 à 19:00 dans la catégorie Recette Salées</div>
            <div class="content"></div>
                <img src="http://placehold.it/350x150" alt="">
                <p>Lorem Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                    Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble
                    des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles,
                    mais s'est aussi adapté à la bureautique informatique</p>
                <a href="{{ path('salees_show') }}" class="btn btn-primary">Lire la suite</a>
        </article>
        <article>
            <h2>Titre de la recette</h2>
            <div class="metadata">Ajouter le 10/05/2019 à 19:00 dans la catégorie Recette Salées</div>
            <div class="content"></div>
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble
                des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles,
                mais s'est aussi adapté à la bureautique informatique</p>
            <a href="{{ path('salees_show') }}" class="btn btn-primary">Lire la suite</a>
        </article>
        <article>
            <h2>Titre de la recette</h2>
            <div class="metadata">Ajouter le 10/05/2019 à 19:00 dans la catégorie Recette Salées</div>
            <div class="content"></div>
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble
                des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles,
                mais s'est aussi adapté à la bureautique informatique</p>
            <a href="{{ path('salees_show') }}" class="btn btn-primary">Lire la suite</a>
        </article>


    </section>



    
{% endblock %}